body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #070d27, #4154a0);
  color: #ffffff;
}

.home-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header-background {
  background: url("../../assets/homeImage.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 100%;
  z-index: 1;
  color: #ffffff; /* Ensure text color is white */
}

.header-background h1 {
  color: #ffffff; /* Ensure header text color is white */
}

.content-container {
  width: 100%;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  color: #ffffff;
}

.form-control {
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
  background-color: #303048;
  color: #ffffff;
  border: 1px solid #dddddd;
}

.button-wrapper {
  display: flex;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.crypto-table th,
.crypto-table td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
  background-color: #303048;
  color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.crypto-table td:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.crypto-table th {
  background-color: #1f2a55;
}

.pagination {
  margin-top: 20px;
  gap: 40px;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .content-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .form-control {
    max-width: 100%;
  }

  .button-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .content-container {
    max-width: 95%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .content-container {
    max-width: 100%;
    padding: 5px;
  }
}
