.footer {
  background-image: linear-gradient(to right, #070d27, #7389de);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
   width: 100vw;
  border-top: 1px solid #dddddd;
  box-sizing: border-box; /* Ensures padding and border are included in width */
  position: relative; /* Allow it to flow with the content */
  margin: 0; /* Remove any default margins */
}

.footer p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}
