.app-container {
  background: linear-gradient(to right, #bdd05d, #504b54);
  min-height: 100vh;
  padding-top: 20px;
  /* width: auto; */
}

.gradient-background {
  padding: 20px;
}

.crypto-card {
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.crypto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
